<!DOCTYPE html>
<html>
<head>
    <title>Hello World</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/pikaday.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/underscore.js"></script>
    <script type="text/javascript" src="js/backbone.js"></script>
    <script type="text/javascript" src="js/backbone.modelbinding.js"></script>
    <script type="text/javascript" src="js/backbone-validation.js"></script>
    <script src="js/moment.js"></script>
    <script type="text/javascript" src="js/pikaday.js"></script>
    <script type="text/template" id="address_template">
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="adr_land">Land</label>
            <div class="controls">
                <input type="text" id="adr_land" modelAttr="land" placeholder="Land"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="adr_street">Str. und Hausnummer</label>
            <div class="controls">
                <input type="text" id="adr_street" modelAttr="street"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="adr_zipcode">Plz</label>
            <div class="controls">
                <input type="text" id="adr_zipcode" modelAttr="zipcode"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="adr_city">Ort</label>
            <div class="controls">
                <input type="text" id="adr_city" modelAttr="city"/>
            </div>
        </div>


        <div class="control-group">
            <label class="control-label" for="adr_livingsince">Wohnhaft seit</label>
            <div class="controls">
                <input type="text" id="adr_livingsince" modelAttr="livingsince"/>
            </div>
        </div>

        <input type="button" id="back" value="Zurück"/>
        <input type="button" id="next" value="Weiter"/>
    </form>
    </script>
    <script type="text/template" id="person_template">
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="p_surename">Name</label>
            <div class="controls">
                <input type="text" id="p_surename" modelAttr="surename" data-error-style="inline"/> <%= surename %>
                <span class="help-inline"></span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="p_firstname">Vorname</label>
            <div class="controls">
        <input type="text" id="p_firstname" modelAttr="firstname" data-error-style="inline"/>
                <span class="help-inline"></span>

            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="p_birthday">Geburtsdatum</label>
            <div class="controls">
        <input type="text" id="p_birthday" modelAttr="birthday" data-error-style="inline"/>
                <span class="help-inline"></span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="p_creditcardnumber">Kreditkartennummer</label>
            <div class="controls">
        <input type="text" id="p_creditcardnumber" modelAttr="creditcardnumber" data-error-style="inline"/>
                <span class="help-inline"></span>
            </div>
        </div>

        <input type="button" id="next" value="Weiter"/>
    </form>
    </script>
    <script type="text/template" id="summary_template">
        <label for="p_surename">Name</label>
        <span class=""> <%= surename %> </span>

        <label for="p_firstname">Vorname</label>
        <span class=""> <%= firstname %> </span>

        <label for="p_birthday">Geburtsdatum</label>
        <span class=""> <%= birthday %> </span>

        <label for="p_creditcardnumber">Kreditkartennummer</label>
        <span class=""> <%= creditcardnumber %> </span>

        <label for="adr_land">Land</label>
        <span class=""> <%= land %> </span>

        <label for="adr_street">Str. und Hausnummer</label>
        <span class=""> <%= street %> </span>

        <label for="adr_zipcode">Plz</label>
        <span class=""> <%= zipcode %> </span>

        <label for="adr_city">Ort</label>
        <span class=""> <%= city %> </span>

        <label for="adr_livingsince">Wohnhaft seit</label>
        <span class=""> <%= livingsince %> </span>

        <input type="button" id="back" value="Zurück"/>
    </script>
    <script type="text/javascript" src="js/myapp/models.js"></script>
    <script type="text/javascript" src="js/myapp/views.js"></script>
    <script>
        document.ready = function () {
            Backbone.ModelBinding.Configuration.configureBindingAttributes({text: "modelAttr"});
            person_view = new PersonView({ el: $("#container") });


        }
    </script>
</head>
<body>
	<div id="container"></div>
</body>
</html>